{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project BOM Video Landing Page</h3>

<p><strong>Displays</strong></p>
<ul>
<li>͏&nbsp;Confirm Make /&nbsp; Models</li>
<li>͏&nbsp;Confirm SOW sources match BOM sources</li>
<li>͏&nbsp;Confirm Resolution Requirements for system</li>
<li>͏&nbsp;Confirm all field locations on BOM called out in Facilities</li>
<li>͏&nbsp;Confirm all backing / ceiling hardware are adequately called out</li>
<li>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Network</li>
<li>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Special Power</li>
<li>͏&nbsp;Confirm each location has adequate requirements called for</li>
<li>͏&nbsp;Confirm each locations color</li>
</ul>
<p><strong>Field Source Locations</strong></p>
<ul>
<li>͏&nbsp;Confirm SOW sources match BOM sources</li>
<li>͏&nbsp;Confirm Make /&nbsp; Models</li>
<li>͏&nbsp;Confirm all field locations on BOM called out in Facilities</li>
<li>͏&nbsp;Confirm each location has adequate requirements called for</li>
<li>͏&nbsp;Confirm each locations color</li>
</ul>
<p><strong>Rack Sources</strong></p>
<ul>
<li>͏&nbsp;Confirm SOW sources match BOM sources</li>
<li>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Network</li>
<li>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Special Power</li>
</ul>
<p><strong>Source Specific&mdash;Cable TV </strong></p>
<ul>
<li>͏Who is responsible for getting the supplier feed to the video switcher?</li>
<li>This is typically a client or GC requirement</li>
</ul>
<p><strong>Source Specific&mdash;Wireless Presentation Gateway </strong></p>
<ul>
<li>͏&nbsp;Is the device going on the client network?</li>
<li>͏ Is the client set up for streaming over the network?</li>
</ul>
<p>&nbsp;<strong>Conferencing</strong></p>
<ul>
<li>Confirm is there is a hard codec
<ul>
<li>Does the camera input have a special video resolution limitation or requirement?</li>
<li>Does the camera input have a special video frame rate limitation or requirement?</li>
<li>Does the codec support a second input for content?</li>
<li>Does content require a license fee or activation number?</li>
<li>Does the content input have a special video resolution limitation or requirement?</li>
<li>Does content input have a special video frame rate limitation or requirement?</li>
<li>Is dual monitor required in the project?</li>
<li>Is it a special license fee to activate dual monitor</li>
<li>Is there a special adaptor required for a second monitor output</li>
<li>Is &ldquo;Video&rdquo; / H.323 the only required codec method?</li>
<li>Did the client get the soft codec license to be able to dial soft codec calls from the hard codec?</li>
</ul>
</li>
</ul>
<ul>
<li>Confirm if there is a USB Bridge
<ul>
<li>͏Is the end user PC USB2.0 or USB3.0&nbsp;</li>
<li>͏Is the Bridge USB operating speed compatible to the USB port on the USB extender?</li>
<li>͏Is the Bridge USB operating speed compatible to the USB port on the accepting PC?</li>
<li>Does the camera input have a special video resolution limitation or requirement?</li>
<li>Does the camera input have a special video frame rate limitation or requirement?</li>
<li>Does the codec support a second input for content?</li>
<li>Does this input have a special video resolution limitation or requirement?</li>
<li>Does this input have a special video frame rate limitation or requirement?</li>
</ul>
</li>
</ul>
<p><strong>Video Middleware</strong></p>
<ul>
<li>͏&nbsp;Confirm Make / Model</li>
<li>͏&nbsp;Confirm correct number of inputs available</li>
<li>͏&nbsp;Confirm input cards</li>
<li>͏&nbsp;Confirm number of outputs available</li>
<li>͏&nbsp;Confirm output cards</li>
<li>͏&nbsp;Can the chassis handle the amount of cards required</li>
<li>͏&nbsp;Confirm audio can be broken away to Audio System</li>
<li>͏&nbsp;Confirm power requirements for Switcher / Processor</li>
<li>͏&nbsp;Confirm network/controller requirements for Switcher / Processor</li>
<li>͏&nbsp;Create Order Form Chassis Layout</li>
</ul>
<p>&nbsp;</p>

{% endblock %}
