{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project Close Out Landing Page</h3>

<p><strong>UAV Project Close Out</strong></p>
<p>The project close out procedure requires participation from multiple departments. Below show a table of each deliverable with the hierarchy of whom should be leading that effort.</p>
<p>&nbsp;</p>
<table width="768">
<tbody>
<tr>
<td colspan="3" width="768">
<p><strong>UAV CLOSE OUT RESPONSIBILITY CHART</strong></p>
</td>
</tr>
<tr>
<td width="283">
<p>TASK</p>
</td>
<td colspan="2" width="485">
<p>RESPONSIBLE ENTITY</p>
</td>
</tr>
<tr>
<td width="283">
<p>Fabrication Mark ups</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Rack Build Technician</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>QC Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>Field Mark ups</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Done by Field Engineer. Field Engineer keeps Project Engineer in the loop</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>Lead Technician</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 2</p>
</td>
<td width="278">
<p>Project Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 3</p>
</td>
<td width="278">
<p>Project Manager</p>
</td>
</tr>
<tr>
<td width="283">
<p>Return Field Mark ups</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Field Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>Project Manager</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 2</p>
</td>
<td width="278">
<p>Field Supervisor</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 3</p>
</td>
<td width="278">
<p>Project Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>Scan Field Mark Ups</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Project Management Administrtive Team</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>Project Manager</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 2</p>
</td>
<td width="278">
<p>Field Supervisor</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 3</p>
</td>
<td width="278">
<p>Project Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>Digital Signal Processor</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Field Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>Field Supervisor</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 2</p>
</td>
<td width="278">
<p>Project Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>Manuals</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Project Management Administrtive Team</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>Project Manager</p>
</td>
</tr>
<tr>
<td width="283">
<p>Network Information</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Field Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>Field Supervisor</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 2</p>
</td>
<td width="278">
<p>Project Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 3</p>
</td>
<td width="278">
<p>Project Manager</p>
</td>
</tr>
<tr>
<td width="283">
<p>Sign Off</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Field Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>Project Manager</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 2</p>
</td>
<td width="278">
<p>Project Engineer</p>
</td>
</tr>
<tr>
<td width="283">
<p>Email Archive</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Project Manager</p>
</td>
</tr>
<tr>
<td width="283">
<p>Create Close Out Package</p>
</td>
<td width="207">
<p>Primary Task</p>
</td>
<td width="278">
<p>Project Manager</p>
</td>
</tr>
<tr>
<td width="283">
<p>&nbsp;</p>
</td>
<td width="207">
<p>Back Up 1</p>
</td>
<td width="278">
<p>Project Management Administrtive Team</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Project Engineer Job Closing Checklist</strong></p>
<p>ALL project drawings are to have a Final As-Built Revision badge.&nbsp; This includes the following</p>
<ul>
<li>Architectural(s)</li>
<li>Schematics</li>
</ul>
<p>&nbsp;</p>
<p>A full set of approved, final drawings are to be printed to PDF and the final copy is to be saved to: <strong>Z:\Project Folder\Closeout\Closeout Disc for Client\Final As-Builts </strong>(PDF's).</p>
<p>&nbsp;</p>
<p>If there are any hand-written sketches, notes, etc. remaining that are pertinent to the project, scan them and save to:</p>
<p>Z<strong>:\Project Folder\Engineering\Documentation\Scanned Notes</strong></p>
<p>&nbsp;</p>
<p>Delete ALL obsolete DSP files.&nbsp; All final DSP files should have the following in the file name:</p>
<p>[Job#_Room # &amp; Description_Engineer's Initials_Date_FINAL] ie: 123456_USIS Boardroom 1234_AM_03.05.12.</p>
<p>&nbsp;</p>
<p>Update the Z:\Project Folder\Control\Control System Programming folder with all up-to-date files from the control systems programmer.&nbsp; Create a text file in that folder indicating what company and programmer wrote the codes.</p>
<p>Confirm the uncompiled code files and system manuals have been saved to:</p>
<p><strong>Z:\Project Folder\Closeout\Closeout Disc for Client\Control System </strong>(Uncompiled Final Revisions).</p>
<p>&nbsp;</p>
<p>Delete all unused directories and documents.</p>
<p>&nbsp;</p>
<p>UPGRADES ONLY: In original project root directory create folder "_UPGRADES."&nbsp; In this folder create a text file that says; Upgraded under job number xxxxxx.</p>
<p>&nbsp;</p>
<p>Confirm e-mail PST has been saved to Z:\Project Folder\Closeout\E-mail\Engineering.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}
