{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project Project Assignment Landing Page</h3>

<p>You will be notified that a project is assigned to you via an email notification. Below represents who sends out the email and who receives it.</p>
<p><strong>Sent By: </strong></p>
<p>Sales Coordinator</p>
<p>&nbsp;</p>
<p><strong>Sent To:</strong></p>
<p>Executive Vice President of UAV</p>
<p>Chief Technology Office</p>
<p>VP Of Business Operations of UAV</p>
<p>VP Of Technical Services of UAV</p>
<p>Director Of Engineering of UAV</p>
<p>Executive Account Manager for client</p>
<p>Sales Engineer for this particular build</p>
<p>Technical Integration Manager</p>
<p>Field Operations Manager</p>
<p>Warehouse Team in Pear&nbsp; River</p>
<p>Assigned Facilities Designer (if applicable)</p>
<p>Assigned Project Manager</p>
<p>Assigned Project Engineer</p>
<p>Assigned Programmer (if applicable)</p>
<p>&nbsp;</p>
<p><strong>Kick Off Meeting</strong></p>
<p>Every project that is done at USIS Audio Visual starts with a kick off meeting. Everyone listed above is included in the meeting with the addition of the&nbsp; Project Management admins who also attend to take notes. This meeting is the transfer of knowledge from the Sales and Design team to the implementation team.</p>
<p>The standard is that we have a Kick Off within a week of project assignment. The meeting is initiated by either the Account Executive of record or the assigned Project Manager.</p>
<p>&nbsp;</p>

{% endblock %}
