{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project BOM Rack Landing Page</h3>

<p><strong>General</strong></p>
<p>͏&nbsp;Confirm number of rack locations</p>
<p>͏&nbsp;Confirm Facilities guestimate of BTU calculations is within acceptable range</p>
<p>&nbsp;</p>
<p><strong>Rack(s)</strong></p>
<p>͏&nbsp;Confirm SOW sources match BOM sources</p>
<p>͏&nbsp;Confirm Make /&nbsp; Model(s) of Racks</p>
<p>͏&nbsp;Confirm BOM matches latest issuance of Facilities Set</p>
<p>͏&nbsp;Confirm number of RU's requried by all rack devices</p>
<p>͏&nbsp;Confirm BOM rack can fit all equipment</p>
<p>͏&nbsp;Create rack elevation</p>
<p>&nbsp;</p>
<p><strong>Power</strong></p>
<p>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Special Power</p>
<p>͏&nbsp;Confirm power strips can handle expected power draw</p>
<p>͏&nbsp;Confirm facilities called for the correct number of circuits per rack</p>
<p>͏&nbsp;Confirm facilities called for the correct amperage on each circuit</p>
<p>͏&nbsp;Confirm AV circuits are on dedicated</p>
<p>͏&nbsp;Confirm AV circuits are on the same phase</p>
<p>͏&nbsp;Confirm facilities power connector call out</p>
<p>͏&nbsp;Confirm plug compatibility of facilities power to rack mounted conditioners cord</p>
<p>&nbsp;</p>

{% endblock %}
