{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project BOM Audio Landing Page</h3>

<p><strong>Base Line Check List</strong></p>
<p>Below represents what all the steps taken by US Information Systems Audio Visual Project Engineers when assigned to a project. These steps are a base line guide and cover the majority of situations. Each Project Engineer is awarded the liberties to add and subtract as required per situations.</p>
<p>Although the above mentioned liberties to add and subtract from the below list, management reserves the right to expect that every step listed or not is reviewed and certified by Project Engineers.</p>
<p><strong>Speakers</strong></p>
<ul>
<li>Confirm if voice lift audio is required
<ul>
<li>Was the ceiling properly zoned to account for potential locations where presenters will be. A sepa rate zone may be desired for separate voice lift attenuation for those areas</li>
</ul>
</li>
<li>͏Confirm if mix-minus audio is required
<ul>
<li>Does the DSP have enough outputs to accommodate all the amount of zones</li>
<li>Does the amplifier have enough channels to&nbsp; accommodate the amount of zones</li>
<li>Are the speakers properly zoned on the facilities to do a proper mix minus</li>
</ul>
</li>
<li>Confirm if the system is point source, line arrays or standard 70v distribution
<ul>
<li>We should pull a home run for every speaker that is part of a point source distribution</li>
</ul>
</li>
<li>Confirm number of zones shown on final facilities</li>
<li>Confirm Make / Models</li>
<li>Confirm number&nbsp; &amp; placement is appropriate per zone ( 10 or Less If We Can)
<ul>
<li>Can the amplifier channel(s) handle their load(s) + 20% head room?</li>
</ul>
</li>
<li>Ceiling speakers
<ul>
<li>Can the ceilings handle the depth of the speaker can for recessed speakers?</li>
<li>Can the ceiling handle pendant speakers based on the distance from finished floor to speaker grill?</li>
</ul>
</li>
<li>Wall Recessed Speakers
<ul>
<li>͏Can the wall handle the depth of the speaker for wall mounted recess speakers?</li>
<li>͏Does the wall need audio cancelling insulation to stop the audio from bleeding out to the adjacent room?</li>
</ul>
</li>
<li>Confirm Speaker Colors per zone</li>
</ul>
<p>&nbsp;</p>
<p><strong>Table Microphones</strong></p>
<ul>
<li>͏Confirm is mix-minus audio is required</li>
<li>͏Confirm if voice lift is desired
<ul>
<li>We do not deploy table mics as part of voice lift (aside from mix minus)</li>
</ul>
</li>
<li>͏Confirm Make / Models</li>
<li>͏Confirm number of mics &amp; placement is appropriate for system
<ul>
<li>The aim is for table microphones to be 18&rdquo; from the edge of the table</li>
</ul>
</li>
<li>Distance between permanently mounted microphones should be lest than 26&rdquo; apart</li>
<li>͏Confirm facilities requirements called for at table detail</li>
<li>͏Confirm if logic is required
<ul>
<li>Confirm is there is control system or DSP compatible version</li>
</ul>
</li>
<li>͏Confirm color</li>
</ul>
<p><strong>Wireless Microphones</strong></p>
<ul>
<li>Confirm is voice lift audio is required</li>
<li>Confirm is mix-minus audio is required
<ul>
<li>We do not deploy wireless mics as part of mix minus</li>
</ul>
</li>
<li>Confirm Make / Models</li>
<li>Confirm Frequencies
<ul>
<li>International Frequencies may need to be purchased</li>
</ul>
</li>
<li>Confirm facilities requirements for antennae conduit</li>
<li>Confirm facilities requirements for antennae placement</li>
</ul>
<p>&nbsp;</p>
<p><strong>Program Audio</strong></p>
<ul>
<li>͏&nbsp;Confirm if stereo is required</li>
<li>͏&nbsp;Confirm if surround sound is required</li>
<li>͏&nbsp;Confirm there is a funnel point for all sources to the audio amplification system</li>
</ul>
<p><strong>Conferencing</strong></p>
<ul>
<li>͏Confirm if there is a hard codec
<ul>
<li>Does the codec have a line level or mic level input?</li>
<li>Does the codec have a mono or stereo output?</li>
</ul>
</li>
<li>͏Confirm if there is a USB Bridge
<ul>
<li>Does the bridge have a line level or mic level input?</li>
<li>Does the bridge have a Reference Output or Far End only output mix so we can treat the bridge like a traditional codec?</li>
</ul>
</li>
<li>͏Confirm audio conference is VoIP or POTs</li>
</ul>
<p><strong>Digital Signal Processing</strong></p>
<ul>
<li>͏&nbsp;Confirm Make / Models</li>
<li>͏&nbsp;Confirm adequate number of AEC channels</li>
<li>͏&nbsp;Confirm adequate number of Line Input channels</li>
<li>͏&nbsp;Confirm adequate number of Line Output channels</li>
</ul>
<p><strong>Power Amplifier</strong></p>
<ul>
<li>͏&nbsp;Confirm Make / Models</li>
<li>͏&nbsp;Confirm quantities</li>
<li>͏&nbsp;Confirm adequate number output channels available to match zones</li>
<li>͏&nbsp;Confirm adequate output head room per channel output</li>
</ul>
<p>&nbsp;</p>

{% endblock %}
