{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project Build Support Landing Page</h3>

<p><strong><em>Quality Control Testing System Review</em></strong></p>

<p>The point of QC testing is to send out systems that are operational to a degree that the field team will not need to perform basic communications testing, will not need to troubleshoot internal rack wiring and can begin &lsquo;hitting the ground running&rsquo; when firing up the system and beginning in field commissioning.</p>
<p><strong>&nbsp;</strong></p>
<p>Each system that is fabricated in house goes through a quality control testing procedure. That procedure is ran by the Field Operations team under the QC phase task. It is important to work with the QC Engineering to ensure that any system critical, critical path or new technology based operations are tested and confirmed operational prior to the system shipping out.</p>
<p>&nbsp;</p>
<p>The Project Engineer will run through the systems user interfaces and base line functionality to ensure that the system is shipping with functionality that both matches client expectations and Theory of Operations. Any functionality that does not function as required should be put on a punch list so that any possible preliminary work can be done to rectify the issue prior to the field installation and commissioning.</p>
<p>&nbsp;</p>
</p><p><strong><em>White Glove System Review</em></strong></p>
<p><strong><em>&nbsp;</em></strong></p>
<p>After a system is fully installed in the field and the field team is getting ready to leave from site for good the Project Fingering will perform an onsite White Glove Review.&nbsp; This review must take place when the entire system is complete, not while it is being finished. The point of the White Glove Review is to ensure we are talking away from a completed install that is 100% inline with our USIS standards and that the system functions as expected.</p>
<p>&nbsp;</p>

{% endblock %}
