{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project BOM Control Landing Page</h3>

<p><strong>Control Method</strong></p>
<p>͏&nbsp;Confirm SOW sources match BOM sources</p>
<p>͏&nbsp;Confirm actual requirements for system</p>
<p>&nbsp;</p>
<p><strong>User Interfaces - Touch Panel / GUI Based</strong></p>
<p>͏&nbsp;Confirm Make /&nbsp; Models</p>
<p>͏&nbsp;Confirm all field locations on BOM called out in Facilities</p>
<p>͏&nbsp;Confirm each location has adequate requirements called for</p>
<p>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Network</p>
<p>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Special Power</p>
<p>͏&nbsp;Confirm each locations color</p>
<p>͏&nbsp;Confirm if client has standard GUI</p>
<p>&nbsp;</p>
<p><strong>User Interfaces - Keypad / Button Based</strong></p>
<p>͏&nbsp;Confirm Make /&nbsp; Models</p>
<p>͏&nbsp;Confirm all field locations on BOM called out in Facilities</p>
<p>͏&nbsp;Confirm each location has adequate requirements called for</p>
<p>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Network</p>
<p>͏&nbsp;Confirm Facilities requirements called for if device(s) requires Special Power</p>
<p>͏&nbsp;Confirm each locations color</p>
<p>͏&nbsp;Confirm if client has templated Button Layouts</p>
<p>͏&nbsp;Confirm if client has templated nomenclature</p>
<p>&nbsp;</p>
<p><strong>Control Processor(s)</strong></p>
<p>͏&nbsp;Confirm Make /&nbsp; Models</p>
<p>͏&nbsp;Confirm number of RS-232 controlled devices</p>
<p>͏&nbsp;Confirm number of IR controlled devices</p>
<p>͏&nbsp;Confirm number of Relay Controlled Devices</p>
<p>͏&nbsp;Confirm number of I/O ports required by all devices</p>
<p>͏&nbsp;Confirm number of devices that can be controlled over LAN</p>
<p>͏&nbsp;Confirm there is no distance issue between processor and any controlled device</p>
<p>͏&nbsp;Confirm if client has templated code</p>
<p>͏&nbsp;Confirm number of processors required to achieve system functionality</p>
<p>͏&nbsp;Confirm LAN control requirements</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}
