{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project BOM Networking Landing Page</h3>

<p><strong>Network - General</strong></p>
<p>͏&nbsp;Confirm if client network handles any AV devices</p>
<p>͏&nbsp;Confirm if client can accommodate a Tech-PC on their network for AV Service</p>
<p>&nbsp;</p>
<p><strong>Isolated AV Control Network</strong></p>
<p>͏&nbsp;Confirm SOW sources match BOM sources</p>
<p>͏&nbsp;Confirm Make /&nbsp; Model(s) of Switch</p>
<p>͏&nbsp;Confirm number of control network devices</p>
<p>͏&nbsp;Confirm network controlled devices have facilities path back to switch</p>
<p>͏&nbsp;Confirm field devices that need PoE / PoE+ / PoE++</p>
<p>͏&nbsp;Confirm switch can power number of required devices</p>
<p>͏&nbsp;Confirm switch can handle network through-put</p>
<p>͏&nbsp;Confirm processor can accommodate dual networks</p>
<p>&nbsp;</p>
<p><strong>Isolated AV Dante Network</strong></p>
<p>͏&nbsp;Confirm SOW sources match BOM sources</p>
<p>͏&nbsp;Confirm Make /&nbsp; Model(s) of Switch</p>
<p>͏&nbsp;Confirm number of Dante devices</p>
<p>͏&nbsp;Confirm number of aux Dante port connections required</p>
<p>͏&nbsp;Confirm Dante devices have facilities path back to switch</p>
<p>͏&nbsp;Confirm Dante devices that need PoE / PoE+ / PoE++</p>
<p>͏&nbsp;Confirm switch can power number of required devices</p>
<p>͏&nbsp;Confirm switch can handle network through-put</p>
<p>&nbsp;</p>
<p><strong>Client LAN</strong></p>
<p>͏&nbsp;Confirm SOW sources match BOM sources</p>
<p>͏&nbsp;Confirm Make /&nbsp; Model(s) of devices</p>
<p>͏&nbsp;Confirm devices that need PoE / PoE+ / PoE++</p>
<p>͏&nbsp;Confirm if client requires devices to have an AV patch bay</p>
<p>͏&nbsp;Confirm number of all devices on client network</p>
<p>͏&nbsp;Confirm if client LAN supports all OS / Mirror/ Airplay/ Bon Jour</p>
<p>͏&nbsp;Confirm if client LAN supports Multicast</p>
<p>͏&nbsp;Document devices and locations on IP spreadsheet (Client Facing)</p>
<p>&nbsp;</p>
<p><strong>Bridging Multiple Head Ends</strong></p>
<p>͏&nbsp;Confirm fiber stacking kits are on BOM</p>
<p>͏&nbsp;Confirm stacking Kits and Fiber insert modules match bandwidth requirements</p>
<p>͏&nbsp;Confirm if Data / AV / Others are pulling Fiber cable</p>
<p>͏&nbsp;Confirm if fiber is Single or Multi Mode</p>
<p>͏&nbsp;Confirm Make / Model of Fiber patch bays required</p>
<p>͏&nbsp;Generate Fiber Connector Types &amp; Quantities for entire project</p>
<p>͏&nbsp;Contact PM about scheduling Terminations of Fiber cables</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}
