{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project BOM Facilities Landing Page</h3>


<p><strong>Facilities Review</strong></p>
<ul>
<li>͏Compare Types &amp; Quantities on BOM &amp; Facilities
<ul>
<li>Count Room Types on Approved BOM</li>
<li>Count Room Quantities on Approved BOM</li>
</ul>
</li>
<li>By AV Series</li>
<li>Confirm number of rooms on BOM</li>
<li>͏Confirm number of rooms on latest issuance of the facilities set</li>
<li>Confirm number of in room source locations
<ul>
<li>Confirm Color</li>
</ul>
</li>
<li>Confirm conduit call outs for each confirmed in room source locations</li>
<li>Confirm number of in room source destination locations
<ul>
<li>Confirm Color</li>
</ul>
</li>
<li>͏Confirm make / model of display locations</li>
<li>͏Confirm if displays need special power requirements</li>
<li>͏Confirm if displays need special facilities mounting supports</li>
<li>͏Does the hardware above the ceiling grid / finished ceiling need to be a special color?</li>
<li>͏Does the hardware below the ceiling grid / finished ceiling need to be a special color?</li>
<li>Confirm if displays or in room source destinations need client supporting LAN drops</li>
<li>͏Confirm Color</li>
<li>͏Confirm number of Head end / Rack sources</li>
<li>͏Confirm if Head end / Rack sources require special power requirements</li>
<li>͏Confirm if Head end / Rack sources require client supporting LAN drops</li>
<li>͏Ensure&nbsp; CATx cable runs do not exceed 330' connector to connector</li>
</ul>
<p><strong>NOTES:</strong></p>
<p>USIS Standard is to avoid pulls that exceed 270' of horizontal cabling (unextended)</p>
<p>Ensure premolded HDMI cables do not exceed 30'</p>
<p>&nbsp;</p>

{% endblock %}
