{% extends 'uav_project_lifecycle/layout2.html' %}

{% block content %}

<h3> UAV Project Drawings Landing Page</h3>

<p><strong>UAV Drawing Packages</strong></p>
<p>The typical UAV drawing package will contain a facilities section and a schematics section. You are tasked with creating the schematics. The schematics are based on consultant or sales one lines in conjunction with the finalized bill of materials.</p>
<p>The project engineering team has a dedicated documentation department resource that is solely allocated to schematics. This individual should be utilized as often as possible for the process of creating the baseline schematics. This is to free up the project engineers time to scrub the bill of materials while at the same time beginning to take into consideration the Theory of Operation and how the system needs to operate to meet the CLIENTS OBJECTIVES.</p>
<p>&nbsp;</p>
<p><strong>Schematics For Internal Review</strong></p>
<p>Drawings completed and&nbsp; that are ready for internal review are sent to the Engineering Department group email address so that one of the team members can pick up the review. The Director of Engineering will always be the ultimately responsible for reviewing UAV schematics drawings and Full UAV drawing packages. When sending the email for review please include the following</p>
<p><strong>All completed Schematics&nbsp; This should include </strong></p>
<ul>
<li>100% IFC or later issuance of Facilities</li>
<li>Includes all facilities &amp; All the schematics for every system</li>
<li>All the pull schedules</li>
<li>The full UAV Drawing Package should be set up in a BlueBeam session</li>
<li>BOM for procurement</li>
<li>All the Digital Signal Processor Site Files</li>
<li>The Theory of Operation</li>
</ul>
<p>&nbsp;</p>
<p><strong>When sending the email please include the following information</strong></p>
<ul>
<li>Drive location of the drawings</li>
<li>BlueBeam Session already set up with authorization for review and editing</li>
<li>Review Completion Need by Date</li>
</ul>
<p>&nbsp;</p>
<p><strong>Issuing Fully Approved UAV Drawing</strong></p>
<p>Once the drawing package is fully reviewed and approved an email notification should be sent and should include the following individuals / email groups</p>
<ul>
<li>UAVDAILYUPDATES@usus.net</li>
<li>Project Manager</li>
<li>Programmer</li>
</ul>
<p>&nbsp;</p>
<p><strong>UAV Drawing Packages Check List</strong></p>
<p>The typical UAV drawing package will contain many key components that were previously discussed. Below is the thought process and mental checklist that is gone through whenever schematics are reviewed. By the time the process gets to the drawing review you should have already considered every aspect of the project.</p>
<p>&nbsp;</p>
<p><strong>General</strong></p>
<p>As you scrub the bill of materials you should be already completing your own first round of drawing checklist/review. Meaning you can not scrub a BOM without drawing the system. As you draw the system schematics you should ensure that each portion of the B.O.M scrub is practiced in the drawing creation and review process.</p>
<p>&nbsp;</p>
<p><strong>Additional Items to Consider</strong></p>
<p><strong>Title Blocks</strong></p>
<p>Does each page have the correct title block information.</p>
<p><strong>Connection key</strong></p>
<p>Does the connection key show the termination pin outs for every connection used on that particular schematics?</p>
<p><strong>Number Legend </strong></p>
<p>Does the number legend show every cable number used on that particular schematic?</p>
<p><strong>Terminal Strip Legend </strong></p>
<p>Does the terminal strip legend show every terminal strip used on that particular schematic?</p>
<p><strong>Location Markers</strong></p>
<p>Do the schematic facilities location markers match the location marker nomenclature on the facilities drawings?</p>
<p>&nbsp;</p>

{% endblock %}
