{% extends 'uav_drawings_design/layout2.html' %}

{% block content %}

<p>For the most complex of projects (typical considered Design+Build) the USIS Audio Visual team will issue multiple versions of facilities drawings. These issuances are coordinated in conjunction with the architects, designers, consultants and all other trades. USIS operates in both the AutoCAD and Revit workspaces.</p>
<p>&nbsp;</p>
<p><strong>Type of Drawing Packages:</strong></p>
<p><strong>Design Sets&mdash;DD Phase </strong>[Facilities Only]</p>
<ul>
<li>This drawing set carries the &rsquo;DD&rsquo; designation.</li>
<li>These drawings act as a proof of concept for the originally desired technology and their optimal placement. This begins a two fold conversation with the construction team and client as two what technology may actually fit and what technology they can actually afford.</li>
<li>These sets get issued at 50%, 75% and 100% intervals</li>
</ul>
<p>&nbsp;</p>
<p><strong>Contract Set&mdash;CD Phase </strong>[Facilities Only]</p>
<ul>
<li>This drawing set carries the &rsquo;CD&rsquo; designation.</li>
<li>These drawings act as the final roadmap for all trades and contractors to follow. At this point most of the technology choices have been vetted and most of the infrastructure requirements are laid out.</li>
<li>These sets get issued at 50%, 75% and 100% intervals</li>
<li>The drawings issued as 100% CD should be absolutely perfect with no errors or mistakes. This is the drawing packages that are often used for other trades to bid on the infrastructure requirement installation.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Build Set </strong>[Facilities &amp; Schematics]</p>
<ul>
<li>This drawing set carries the &rsquo;For Build&rsquo; designation.</li>
<li>The drawings issued as 100% &rsquo;For Build&rsquo; should be absolutely perfect with no errors or mistakes.</li>
<li>The drawing issued as 100% &rsquo;For Build&rsquo; should include all completely perfect facilities drawings</li>
<li>The drawings issued as 100% &rsquo;For Build&rsquo; should include completely reviewed and accurate build schematics</li>
</ul>
<p>&nbsp;</p>



{% endblock %}
