{% extends 'uav_drawings_design/layout2.html' %}

{% block content %}

<h3> UAV Design Principles - Device Locations Landing Page</h3>

<table style="width: 774px;">
<tbody>
<tr>
<td style="width: 464px;">
<h3><p>Camera Locations</p></h3>
<p>Camera(s) mounted under a display should aim for center of lens to be 48&rdquo; Above Finished Floor Bring Your Own Camera locations should include a power requirement next to the location. Camera locations that utilize transmitter / receiver kits should not call for power unless the transmitting device needs power that can not be stored remotely.</p>
</td>
<td style="width: 294px;">&nbsp;</td>
</tr>
</tbody>
</table>
<h3><p>Conduit</p></h3>
<p>40% Fill&mdash;We aim for 40% capacity fill as per industry standard. Special considerations can be made on a&nbsp; pipe by pipe basis. As a whole we should not deviate from asking for the appropriate size that lets us met&nbsp; this criteria.</p>
<p>Never exceed 2 right angle turns per pull locations</p>
<p>&nbsp;</p>
<h3><p>Display Locations&mdash;General</p></h3>
<p>By default we typically start with two(2) client LAN drops at each display locations</p>
<p>&nbsp;</p>
<h3><p>Display Locations&mdash;Wall Mounted</p></h3>
<p>By default we specify in wall equipment storage boxes at every wall mounted display. The current desired Make and Model is Chief Mfg [Legrand AV] PAC526. Ensure you get the full kit with the ap propriate color faceplate.</p>
<p>Locations that are both wall mounted and do not have in-wall storage poxes than we should be calling for&nbsp; clock style power outlets.</p>
<p>Special consideration should be considered if multiple devices need to power at the display location.</p>
<p>&nbsp;</p>
<h3><p>Rack Location Power</p></h3>
<p>Dedicated 20-Amp circuits are always the first line preference</p>
<p>Twist lock receptacles are always the first line preference</p>
<p>&nbsp;</p>
<h3><p>Projector Locations&mdash;Ceiling Mounted</p></h3>
<p>There should be a maximum of 12&rdquo; of threaded rod from the ceiling substrate to the pipe mount ing flange / unistrut.</p>
<p>The concept is that the finished 1.5&rdquo; NTP pipe looks cleaner coming down the ceiling than fou(4) pieces of&nbsp; 5/8&rdquo; threaded rod.</p>
<p>Shock mount kits should be used at all times. Basic Mason 5C141 vibrations shocks will be sufficient.</p>
<p>Ensure the shock mount utilize can support the weight of the project + the weight of all the&nbsp; mounting hardware.</p>
<p>&nbsp;</p>
<h3><p>Speakers&mdash;Ceiling Mounted</p></h3>
<p>Ceiling mounted speakers should have a safety chain / aircraft wire securing each speaker to the ceiling substrate or a&nbsp; building ceiling supporting structure.</p>
<p>Wall Mounted Audio or Video Equipment</p>
<p>Wall mounted AV input locations should include a power requirement next to the location.</p>
<p>&nbsp;</p>

{% endblock %}
