{% extends 'uav_drawings_design/layout2.html' %}

{% block content %}
<table style="width: 774px;">
<tbody>
<tr style="height: 54px;">
<td style="width: 758px; height: 54px;" colspan="2">Although there are numerous icons associated with the full AV Drawing package there are a few main staples that are seen often. These icons are associated to the mounted methodology of any particular device or supporting structure.&nbsp;</td>
</tr>
<tr style="height: 682px;">
<td style="width: 302px; height: 682px;">&nbsp;
<p><strong>Audio Visual Mounting Icons</strong></p>
<p><strong>Floor Box</strong></p>
<p>A Square box represents the a floor core or floor box location. If a device is mounted under a conference table and is routed through a floor core or under floor cable pathway the square icon would be the appropriate representation.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Wall Mount</strong></p>
<p>A circle with a vertical post represents a wall mounted device. Wall plates and Device in-wall storage boxes would be appropriate uses for this icon.</p>
<p>&nbsp;</p>
<p><strong>Rack Locations</strong></p>
<p>A circle with a vertical post also represents a floor standing rack.&nbsp; If the rack location.</p>
<p>&nbsp;</p>
<p><strong>Ceiling Locations</strong></p>
<p>A circle is the indicator for any ceiling mounted device. Certain antennae's and the majority of speakers would be good examples of when to utilize this icon.</p>
<p>&nbsp;</p>
</td>
<td style="width: 456px; height: 682px;">
<table style="width: 460px; height: 667px;">
<tbody>
<tr style="height: 62px;">
<td style="width: 450px; height: 62px;" colspan="2"><strong>MAIN FACILITIES LOCATION MARKERS EXAMPLE&nbsp;</strong></td>
</tr>
<tr style="height: 117px;">
<td style="width: 234px; height: 117px;">&nbsp;<strong>FLOOR BOX</strong>
<p>&nbsp;</p>
</td>
<td style="width: 210px; height: 117px;"><img src="/static/uav_drawings_design/images/uav_drawings_floor_marker.PNG" width="75" height="75"></td>
</tr>
<tr style="height: 117px;">
<td style="width: 234px; height: 117px;">&nbsp;
<p><strong>WALL MOUTNED </strong></p>
</td>
<td style="width: 210px; height: 117px;"><img src="/static/uav_drawings_design/images/uav_drawings_wall_marker.PNG" width="75" height="75"></td>
</tr>
<tr style="height: 117px;">
<td style="width: 234px; height: 117px;">&nbsp;
<p><strong>RACK LOCATION</strong></p>
</td>
<td style="width: 210px; height: 117px;"><img src="/static/uav_drawings_design/images/uav_drawings_rack_marker.PNG" width="75" height="75"></td>
</tr>
<tr style="height: 105px;">
<td style="width: 234px; height: 105px;">&nbsp;
<p><strong>CEILING MOUTNED </strong></p>
</td>
<td style="width: 210px; height: 105px;"><img src="/static/uav_drawings_design/images/uav_drawings_ceiling_marker.PNG" width="75" height="75"></td>
</tr>
<tr style="height: 43px;">
<td style="width: 450px; height: 43px;" colspan="2">&nbsp;Example of what a facilities set might include in a USIS Issued/Created facilities drawing package</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height: 36px;">
<td style="width: 302px; height: 36px;" colspan="2">
<p><strong>Dividing an Icon</strong></p>
</td>
</tr>
<tr style="height: 115px;">
<td style="width: 302px; height: 115px;"><img src="/static/uav_drawings_design/images/uav_drawings_split_marker.PNG" ></td>
<td style="width: 456px; height: 115px;">&nbsp;
<p>When there are multiple locations on the facilities drawing sharing the exact same call out icon and nomenclature that tie back to the same head end location splitting the icon helps differentiate the locations. The top portion represents the way the facilities set show the location. The bottom portion represents the facilities room number of that particular location.</p>
</td>
</tr>
</tbody>
</table>

{% endblock %}
