{% extends 'uav_drawings_design/layout2.html' %}

{% block content %}

<h3> UAV Design Principles - 70v Audio Systems Landing Page</h3>

<table style="width: 774px;">
<tbody>
<tr>
<td style="width: 567px;">
<p>Speaker Coverage&mdash;Standard 70v/100v Distribution Systems</p>
<p>Speaker coverage is always based on speaker size + power + mounting height so each project will vary in different ways how ever in many corporate scenarios we find ourselves in there are enough commonalities that a basic rule of thumb can be used as a starting guide.</p>
</td>
<td style="width: 191px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p><strong>For Basic Distributed Audio Systems with &ldquo;Standard&rdquo; Ceiling Heights</strong></p>
<p>Here we have what we consider a common ceiling mounting scenario that is found in major markets in commercial real estate properties.</p>
<p>&nbsp;</p>
<img src="/static/uav_drawings_design/images/uav_design_70v_base.PNG" width="1148" height="747">

{% endblock %}
