{% extends 'uav_project_basics/layout2.html' %}

{% block content %}

<h3> UAV Notes About Travel Landing Page</h3>

<p>Since many of our clients have multiple location there does arise a need to travel to their sites. In doing so we follow the most current US Information Systems Non Union company handbook guidelines.&nbsp; Below may be some items that can help clarify some further points.</p>
<table width="768">
<tbody>
<tr>
<td width="283">
<p><strong>TASK or DOCUMENTATION</strong></p>
</td>
<td width="485">
<p><strong>PERSON(s) &amp; DEPARTMENTRS</strong></p>
</td>
</tr>
<tr>
<td width="283">
<p>Travel Notification</p>
</td>
<td width="485">
<p>Typically we will know by Project Kick Off meeting if out of town travel is required for this project. This does not mean there will be a time, hopefully far and few between where the notification of travel and the required date are closer than the two week window we try to follow for travel notification.</p>
</td>
</tr>
<tr>
<td width="283">
<p>Rental Vehicles</p>
</td>
<td width="485">
<p>In general : Getting a rental vehicle depends on what site and part of the city the location is in. There are times when renting a car is not worth it since we would be in a down town area and staying within walking distance of the site.<br /> <br /> When Getting a Rental: If a rental car is procured for your trip it is deemed a company vehicle. You are still responsible for the vehicle but it should be used to bring the entire team to and from sites when applicable and if needed to make trips to purchase additional items needed for the install. <br /> &nbsp;<br /> Other: Just as if you were traveling to work you are responsible to putting gas in the rental car. Gas and mileage on rentals cars are no expendable.</p>
</td>
</tr>
<tr>
<td width="283">
<p>Using Your Personal Vehicle</p>
</td>
<td width="485">
<p>In general : You can use your personal vehicle to travel to sites that are within distance if you personally choose to.<br /> <br /> Paid Expenses: If you decide to use your personal company vehicle you will be able to expense all tolls. When it comes to miles and gas you can choose to expense EITHER OR BUT NOT BOTH.<br /> &nbsp;<br /> Other: The mileage rate varies and if you have questions you should work with the Director of Engineering and HR for exact rates and clarifications.</p>
</td>
</tr>
<tr>
<td width="283">
<p>Travel Arrangements</p>
</td>
<td width="485">
<p>Travel arrangements are handled by the Project Managers in conjunction with the support of the AV Ops group. This includes VP of Business Operations, Technical Integration Manager and the Field Operations Manager.</p>
</td>
</tr>
</tbody>
</table>

{% endblock %}
