{% extends 'uav_project_basics/layout2.html' %}

{% block content %}

<p><strong>The UAV Company Process</strong></p>
<p>&nbsp;The life cycles of any Audio Visual projects may vary based on numerous factors however all the separate factions that make up the Audio Visual department here at USIS-AV have banded together to deploy &amp; follow a generalized road map.</p>
<p>The generalized road map serves as a starting point for our projects but we always allow for full flexibility. We allow and expect to tailor the project paths to suite all the needs of the customer and of our internal USIS installation team members.</p>
<p>Below is a small segment of the process. See the next page / appendix for the full build process.</p>
<p>&nbsp;</p>

<embed src="/static/uav_project_basics/images/uav_build_flow_chart.pdf" width="1920" height="1080">

{% endblock %}
