{% extends 'uav_project_basics/layout2.html' %}

{% block content %}

<h3> UAV Projects Starting Point Landing Page</h3>

<p>Every Audio Visual project starts with the same basic set of documents and completed work. Below represents what is to be expected at the start of each project prior to the explanations of these documents further in your reading.</p>
<p><strong>Starting Documents</strong></p>
<p>BOM = Bill of Materials</p>
<p>This document is the co-starting point of your engineering research and process. This document specifies the make, model and special pricing for everything sold on the project. It will also include the hours and associated costs sold on the project. The raw BOM from the sales folder should never be saved over or modified. Do a save as and work on your own private version of the document.</p>
<p><strong>&nbsp;</strong>SOW = Scope of Work</p>
<p>This document is the other co-starting point of your engineering research and process. This document specifies the make, model and special functionality requirements sold to the client for that particular system. The co-development of the sales SOW is what will drive the creation of the Theory of Operations document described later.</p>
<p><strong>&nbsp;</strong>100% IFC Set =&nbsp; ISSUED FOR CONSTRUCTION</p>
<p>This document is the main point of your schematic creation and the field teams map to the site. Any project below the 100% IFC set means that the facilities for the project are still not completely confirmed. That will almost always have an affect on your BOM and could also affect the SOW as well.</p>
<table style="width: 774px;">
<tbody>
<tr>
<td style="width: 189px;"><img src="/static/uav_project_basics/images/uav_peer_1.PNG" width="100" height="100"></td>
<td style="width: 569px;">This particular situation could arise if you are working on Enterprise clients. For these client we typical do both design and builds and often these clients see repetitively assigned Project Engineers. For those instances you may be brought in earlier than the approved Purchase Order as a design consultant. In those cases you should expect to assist in the creation of the 100% IFC&mdash;in a review and assist role and not a design and document creation role.</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;<strong>Project Start - Base Exploratory</strong></p>
<table style="width: 774px;">
<tbody>
<tr>
<td style="width: 100px;">&nbsp;</td>
<td style="width: 658px;">Below represents the general starting point a Project Engineers will find themselves at along with general questions they will be asking and looking up answers for when assigned a new project.</td>
</tr>
</tbody>
</table>
<p><img src="/static/uav_project_basics/images/uav_start_ring_1.PNG" width="100" height="100"></p>
<h3><p>General review of the SOW</p></h3>
<p>What did we sell in regards to hardware that is called out in the Scope of Work</p>
<p>What did we promise in regards to functionality that is specifically called out in the Scope of Work</p>
<p>&nbsp;</p>
<h3><p>General review of the BOM</p></h3>
<p>What did we sell</p>
<p>Anything new or special</p>
<p>Confirm all vendor quotes are provided by sales</p>
<p>Enterprise clients should still have Quotes provided by Sales Agent</p>
<p>&nbsp;</p>
<h3><p>Sit With Lead Sales Agent</p></h3>
<p>Does what is said and what was sold match both the Scope of Work and the Bill of Materials?</p>
<p>Does what is said match the Facilities Division of Responsibilities?</p>
<p>Do any responsibilities concern you?</p>
<p>&nbsp;</p>
<h3><p>Review the latest Issuance of Facilities</p></h3>
<p>Did we issue the 100% CD set</p>
<p>Are there any open RFI from the design team</p>
<p>Are all facilities sets (PDF) on the AV server</p>
<p>Are all the facilities CAD and/or REVIT files on the AV server</p>
<p>&nbsp;</p>

{% endblock %}
