{% extends 'uav_overview/layout_two.html' %}

{% block content %}

<h3> UAV Wiki Landing Page</h3>

<table style="height: 689px;" width="714">
<tbody>
<tr>
<td style="width: 704px;" colspan="2">
<p>UAV team has a dedicated Wiki page for easily sharable pieces of information. The below will guide you to accessing the information.</p>
</td>
</tr>
<tr>
<td style="width: 360px;">
<p><strong>Wiki Log In</strong></p>
<p>The Wiki Admin is the VP of Technical Services. Once that individual</p>
<p>adds you to the approved users list you will be able to log on.</p>
<p>&nbsp;Web Address: <a href="https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fusisav.atlassian.net%2Fwiki%2Fdiscover%2Fall-updates&amp;data=02%7C01%7CAnthonyMagarelli%40usis.net%7C26d656e7a7b34eaa9b8e08d817706e21%7C39b0604ebf934681b52e3cdb9105f1eb%7C0%7C0%7C637285118937358333&amp;sdata=RVw4ZrIgF68EanC3JgoGZnEs%2Fo9i8oo4K26mIkkVgS0%3D&amp;reserved=0">https://usisav.atlassian.net/wiki/discover/all-updates</a></p>
<p>&nbsp;Log in using your USIS Email Address</p>
</td>
<td style="width: 338px;"><img src="/static/uav_overview/images/wiki_log_in.PNG" width="200" height="300"></td></td>
</tr>
<tr>
<td style="width: 360px;">
<p><strong>Wiki Sections</strong></p>
<p>The wiki is broken down into three(3) main sections.</p>
<p>Audio/Video, Control and Networking.</p>
</td>
<td style="width: 338px;"><img src="/static/uav_overview/images/wiki_spaces.PNG" width="400" height="200"></td></td>
</tr>
<tr>
<td style="width: 360px;">

</td>
<td style="width: 338px;"><img src="/static/uav_overview/images/wiki_search_bar.PNG" width="361" height="121"></td></td>
</tr>
<tr>
<td style="width: 704px;" colspan="2">
    <p><strong>UAV Wiki</strong></p>
    <p>Once you select a section you will be brought to that Sections main landing page. On the left hand column&nbsp;&nbsp;you will see all entries and conversations. You can scroll Search through there or utilize the built in wiki search function.</p>
    <img src="/static/uav_overview/images/wiki_AV_landing.PNG" width="760" height="480"></td></td>
</tr>
</tbody>
</table>

{% endblock %}
