{% extends 'uav_overview/layout_two.html' %}

{% block content %}

<h3> UAV Server & Drive Landing Page</h3>
<table style="height: 1037px;" width="735">
<tbody>
<tr style="height: 89px;">
<td style="width: 725px; height: 89px;" colspan="2">
<p><strong>Audio Visual&mdash;Finding The Files</strong></p>
<p>Every Audio Visual project starts with a default project folder stored on a centralized server. The folder is equipped with subfolders and base line documents to help each team sub-faction to complete their tasks while maintaining uniformed documentation.</p>
</td>
</tr>
<tr style="height: 81px;">
<td style="width: 354px; height: 81px;">
<p><strong>UAV Drive&mdash;Server Dedicated to Audio Visual Department</strong></p>
<p>&nbsp;Base Directory</p>
<p>All of the Audio Visual departments documents are stored on the UAV Server drive. This will be the main starting point of every project.</p>
</td>
<td style="width: 365px; height: 81px;"><img src="/static/uav_overview/images/UAV_MAIN.PNG" width="400" height="250"></td>
</tr>
<tr style="height: 73px;">
<td style="width: 354px; height: 73px;">
<p><strong>Jobs Folder</strong></p>
<p>Every project that UAV works on is set up with a standardized project folder.&nbsp; The folder breaks down projects based on Active, Completed or if they are in the design phase.</p>
</td>
<td style="width: 365px; height: 73px;"><img src="/static/uav_overview/images/UAV_JOBS.PNG" width="400" height="250"></td>
</tr>
<tr style="height: 47px;">
<td style="width: 354px; height: 47px;">
<p><strong>Jobs In Progress</strong></p>
<p>Every active project you will work on will be located in the Job In Progress folder. These folders are automatically created when a project is awarded. When a project is assigned to you, you will receive a link to the newly created job folder.</p>
</td>
<td style="width: 365px; height: 47px;"><img src="/static/uav_overview/images/UAV_JOB_IN PROGRESS.PNG" width="400" height="250"></td>
</tr>
<tr style="height: 128px;">
<td style="width: 354px; height: 128px;">
<p><strong>NOTE:</strong></p>
<p><strong><em>&nbsp;</em><em>Jobs Closed</em></strong></p>
<p><em>After a project is completed and all as built documentation has been sent and the warranty starts on the install the job is moved into the Jobs Closed Folder. The folder/file migration of the folder and documents from In Progress to Closed is done by others. &nbsp; </em></p>
</td>
<td style="width: 365px; height: 128px;"><img src="/static/uav_overview/images/UAV_JOB_CLIENT.PNG" width="400" height="250"></td>
</tr>
</tbody>
</table>

{% endblock %}
