{% extends 'uav_overview/layout_two.html' %}

{% block content %}

<h3> UAV Engineering Drive Landing Page</h3>

<table style="height: 814px;" width="709">
<tbody>
<tr>
<td style="width: 345px;">
<p>The Engineering drive is where you can find many templates, calculators and various technical reference guides. Below are only some of the bullet point folders</p>
<p>&nbsp;</p>
<p><strong>UAV Engineering Drive</strong></p>
<p><strong>ACAD Blocks</strong></p>
<p>In this folder you will find all the necessary files for creating a full UAV-Drawing package. This includes base files, blocks, details and config files.</p>
<p>&nbsp;</p>
<p><strong>Project File Structure Template</strong></p>
<p>This is the base template used to create all the active jobs folders.</p>
<p>&nbsp;</p>
</td>
<td style="width: 348px;"><img src="/static/uav_overview/images/ENGINEERING_DRIVE.PNG" width="400" height="250"></td></td>
</tr>
<tr>
<td style="width: 699px;" colspan="2">&nbsp;
<p><strong>Training </strong></p>
<p>This folder contains the shared documentation we receive when we go to various vendor trainings. This folder should be a treasure trove of technical information. This is not a depository for easily finable user manuals.</p>
<p>&nbsp;</p>
<p><strong>UAV project Engineer Documents</strong></p>
<p>This folder is where all the starting documents can be found when you begin your Project Engineering Processes. The various files include template BOMS, TOOs, DSP files as well as work books and calculators to help on each assignment and task you may need to accomplish during the project life cycle.</p>
<p>&nbsp;</p>
<p><strong>USIS LAN Info</strong></p>
<p>Here is where you will find the different LAN set ups needed when working in Pearl River, the PR shop and when testing systems in QC</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>

{% endblock %}
