{% extends 'uav_overview/layout_two.html' %}

{% block content %}
<table style="height: 170px; width: 740px;">
<tbody>
<tr style="height: 250px;">
<td style="width: 375px; height: 250px;"><img src="/static/uav_overview/images/rack_1.jpg" width="400" height="250"></td></td>
<td style="width: 775px; height: 250px;" colspan="2">
<p>A/V PROJECT ENGINEERS RULES OF ENGAGEMENT &amp; JOB DUTIES GUIDE LINE</p>
<p>&nbsp;This document along with many supporting documents act as the roadmap for Project Engineers in regards to their daily expected task. Acting as guide line a Project Engineers can reference these guidelines for clarifications of job duties, what is expected from them and what can be expected by others in support of their efforts.</p>
<p>&nbsp;</p>
<p>Expanding for the Future&nbsp;</p>
<p>EXCELLENT REPREATED</p>
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 392px;">
<td style="width: 375px; height: 392px;">
<p><strong>US INFORMATION SYSTEMS</strong></p>
<p>Audio Visual</p>
<ul style="list-style-type: circle;">
<li>Design</li>
<li>Installation</li>
<li>Managed Services</li>
<li>Service &amp; Break Fix Support</li>
<li>On-Site Staffing</li>
</ul>
<p>Technology Services</p>
<ul style="list-style-type: circle;">
<li>Structured Cabling</li>
<li>IT Support Services</li>
<li>Burn-in and Staging Center</li>
<li>Documentation Solutions</li>
</ul>
<p>Electrical Contracting</p>
<p>Security</p>
</td>
<td style="width: 775px; height: 392px;" colspan="2">
<p>The Project Engineering team is the life blood of a success AV project deployment. As the Top Tier knowledge group we are expected to lead by example and provide the best support not only to our clients but to all our colleagues and partners.</p>
<p>Project Engineers are awarded the freedom to execute projects with the ability to make decisions and deployed standards they seem to fit the requirement of the client. In order to help maintain unified installations while expanding business it is necessary to have base line documents to help explain expectations and requirements.</p>
<p>The long term objective is that there is no need to reference these documents on a project by project level so the unified deployment approach of the Project Engineering group with support from executive management is paramount to the continued successful growth of the US Information Systems Audio Visual department.</p>
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 48px;">
<td style="width: 375px; height: 427px;" rowspan="2">
<p>Wireless Solutions</p>
<p>Training Services</p>
<ul>
<li>NYC DOB Approved Course Provider</li>
<li>8-HR Master &amp; Special Electrician Renewal</li>
<li>40-HR Site Safety Manager</li>
<li>8-HR Site Safety Manager Refresher</li>
<li>8-HR Site Safety Coordinator</li>
<li>4-HR Supported Scaffold User &amp; Refresher</li>
</ul>
<p>Lantro Global Alliance Partnership</p>
<ul>
<li>US Information Systems</li>
<li>DMI Solu&ccedil;&otilde;es em TI e Telecom</li>
<li>Line Management Group (LMG)</li>
<li>Interconnect Systems</li>
<li>Lantro Vision</li>
<li>Syndeticom</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 775px; height: 48px;" colspan="2">
<p style="text-align: center;"><strong><em>USIS AUDIO VISUAL</em></strong></p>
</td>
</tr>
<tr style="height: 379px;">
<td style="width: 334px; height: 379px;">
<p style="text-align: center;">DESIGN BUILD</p>
<p style="text-align: center;">INSTALLATION</p>
<p style="text-align: center;">MANAGED SERVICES</p>
<p style="text-align: center;">SERVICE &amp; SUPPROT</p>
<p style="text-align: center;">ON-SITE STAFFING</p>
<p><img src="/static/uav_overview/images/usislogo.PNG" width="300" height="200"></td></p>
</td>
<td style="width: 441px; height: 379px;">&nbsp;</td>
</tr>
</tbody>
</table>

{% endblock %}
