{% extends 'uav_overview/layout_two.html' %}
{% load static %}

{% block content %}

<h3> Project Engineer Educational Path Landing Page</h3>

<p><strong>Continuing Education</strong></p>
<p>The only way to stay competitive and remain an industry leaders is for the UAV team to continue their educational studies. The next page will show you what the typical educational path would be for becoming a USIS AV Project Engineer. Although these are lose educational path that are not directly related to ones ability to perform the tasks, they are a guiding measurement to both your knowledge base and you desire and dedication to remain an industry leader.</p>


<embed src="/static/uav_overview/images/educational_path_pe_100620.pdf" width="1920" height="1080">


{% endblock %}
