{% extends 'uav_overview/layout_two.html' %}

{% block content %}

<h3> UAV Procurement Landing Page</h3>

<table style="height: 332px;" width="742">
<tbody>
<tr>
<td style="width: 732px;" colspan="2">
<p>The procurement system is where the Bill of Materials get entered into so that we can drive purchase orders and shipping request. Below is just a general overview of how to access the baseline information.</p>
<p><strong>Accessing Procurement</strong></p>
<p>Procurement is a Microsoft Access Database System. The icon to launch the system will be installed on your desktop by the IT department.</p>
</td>
</tr>
<tr>
<td style="width: 363px;">
<p>Start by Selecting the Procurement Icon</p>
</td>
<td style="width: 363px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 363px;">
<p>When the application opens you will see the Images to the right.</p>
<p>Select from the right side menu AV BOM.</p>
</td>
<td style="width: 363px;"><img src="/static/uav_overview/images/procurement_icon.PNG" width="100" height="100"></td></td>
</tr>
<tr>
<td style="width: 363px;">
<p>From the AV BOM Sub menu select BOM Maintenance.</p>
<p>When the large Maintenance window Appears enter the job number in the appropriate text field and hit enter.</p>
</td>
<td style="width: 363px;"><img src="/static/uav_overview/images/procurement_open_empty.PNG" width="400" height="250"></td></td>
</tr>
<tr>
<td style="width: 363px;">You can toggle the views By selecting either of the<br />Summary or Detail satellite Buttons.</td>
<td style="width: 363px;"><img src="/static/uav_overview/images/procurement_bom_detail.PNG" width="400" height="250"></td></td>
</tr>
</tbody>
</table>

{% endblock %}
