{% extends 'uav_overview/layout_two.html' %}

{% block content %}

<h3> UAV BASICS TEAM ROLLS</h3>

<table style="border-color: red;" border="2" width="892" cellspacing="2" cellpadding="2">
<tbody>
<tr>
<td width="327">TASK or DOCUMENTATION</td>
<td width="565">PERSON(s) &amp; DEPARTMENTRS</td>
</tr>
<tr>
<td>100% Issued For Construction Drawing Set</td>
<td width="565">LEAD: Director of Architecture<br /> LEAD: Director of Pre-Sales Engineering <br /> SUPPORTING STAFF: Documentation Department<br /> SUPPORTING STAFF: Sales Engineering Department<br /> SUPPORTING STAFF: Project Engineering Department</td>
</tr>
<tr>
<td>Client Approved Base Scope Of Work</td>
<td width="565">LEAD: Sales Engineering Department<br /> SUPPORTING STAFF: Sales Agent / Account Executive<br /> SUPPORTING STAFF: Project Engineering Department</td>
</tr>
<tr>
<td>Client Approved Base Bill of Materials</td>
<td width="565">LEAD: Sales Engineering Department<br /> LEAD: Estimating Department<br /> SUPPORTING STAFF: Sales Agent / Account Executive<br /> SUPPORTING STAFF: Project Engineering Department</td>
</tr>
<tr>
<td>Vendor Quotes</td>
<td width="565">LEAD: Sales Engineering Department<br /> LEAD: Estimating Department<br /> LEAD: Sales Agent / Account Executive</td>
</tr>
<tr>
<td>BOM For Engineering</td>
<td width="565">ONLY: Project Engineering&nbsp;</td>
</tr>
<tr>
<td>BOM For Procurement System</td>
<td width="565">LEAD: Sales Engineering <br /> SUPPORTING STAFF: Project Managers, Warehouse Team and Executive management all have the rights to order equipment against any job / project.</td>
</tr>
<tr>
<td>Audio Visual Wiring Schematics</td>
<td width="565">LEAD: Project Engineering <br /> SUPPORTING STAFF: Documentation Department</td>
</tr>
<tr>
<td>Audio Visual Theory of Operation</td>
<td width="565">LEAD: Project Engineering&nbsp;</td>
</tr>
<tr>
<td>Client Facing LAN Documentation</td>
<td width="565">LEAD: Project Engineering&nbsp;</td>
</tr>
<tr>
<td>Cable Requirements</td>
<td width="565">LEAD: Project Engineering&nbsp;</td>
</tr>
<tr>
<td>Connectors &amp; Misc Parts&nbsp; Requirements</td>
<td width="565">LEAD: Project Manager <br /> SUPPORTING STAFF: Project Engineering&nbsp;</td>
</tr>
<tr>
<td>Internal System QC review</td>
<td width="565">LEAD: Project Engineer <br /> SUPPORTING STAFF: Alternate Project Engineer <br /> SUPPORTING STAFF: QC Manager&nbsp;</td>
</tr>
<tr>
<td>Hardware Failure or Deficiency &mdash; RMA &amp; Returns</td>
<td width="565">LEAD: Person who found the issue during their testing is to call and troubleshoot with the manufacturer with the defective unit in front of them.<br /> SUPPORTING STAFF: Project Engineer <br /> SUPPORTING STAFF: UAV Warehouse Team&nbsp;</td>
</tr>
<tr>
<td>Field System Commissioning</td>
<td width="565">LEAD: Field Engineer <br /> SUPPORTING STAFF: QC Manager <br /> SUPPORTING STAFF: Project Engineer&nbsp;</td>
</tr>
<tr>
<td>Field Final White Glove</td>
<td width="565">LEAD: Project Engineer <br /> SUPPORTING STAFF: QC Manager <br /> SUPPORTING STAFF: Sales Engineer <br /> SUPPORTING STAFF: Sales Agent / Account Executive&nbsp;</td>
</tr>
<tr>
<td>Shop &amp; QC Redlines&nbsp;</td>
<td width="565">LEAD: Rack Fabricator <br /> LEAD: QC Engineer <br /> SUPPORTING STAFF: Project Manager Admin Team&nbsp;</td>
</tr>
<tr>
<td width="327">Final Document's Returning From Field<br /> Client Facing LAN<br /> Internal IP Spreadsheet<br /> Field Redlines</td>
<td width="565">LEAD: Field Engineer <br /> SUPPORTING STAFF: Project Specialist <br /> SUPPORTING STAFF: Project Manager <br /> SUPPORTING STAFF: Project Manager Admin Team&nbsp;</td>
</tr>
<tr>
<td>As Built &mdash;&nbsp; Drawings Returned From Field</td>
<td width="565">LEAD: Field Engineer <br /> SUPPORTING STAFF: Project Specialist <br /> SUPPORTING STAFF: Project Manager&nbsp;</td>
</tr>
<tr>
<td>As Built &mdash; autCAD Schematics Updates</td>
<td width="565">LEAD: Documentation Department <br /> SUPPORTING STAFF: Project Engineer</td>
</tr>
<tr>
<td>As Built &mdash; Final Control Code</td>
<td width="565">Only: Programmer&nbsp;</td>
</tr>
<tr>
<td>As Built &mdash; Final Digital Signal Processor Site Files</td>
<td width="565">LEAD: Field Engineer <br /> SUPPORTING STAFF: Project Specialist <br /> SUPPORTING STAFF: Project Engineer&nbsp;</td>
</tr>
</tbody>
</table>

{% endblock %}
