{% extends 'uav_overview/layout_two.html' %}

{% block content %}

<h3> Project Engineer Job Description Landing Page</h3>

<p>The Project Engineer will report directly to the Director of Engineering&nbsp;with USIS AudioVisual Systems. Hours of Operation are 8:00 am to 5:00 pm Monday through Friday, with one hour lunch break and overtime, as required. USIS AudioVisual Systems is an equal opportunity employer, offering competitive salary, employee benefits, 401K plan, industry specific training, and exciting career opportunities for growth and advancement.</p>
<p><strong>Job Responsibilities:</strong></p>
<ul>
<li>Confirm Bill of Materials (BOMs) from Sales correlates with the functional and architectural criteria in design packages whether internal or external with an AV Consultant, to meet the client&rsquo;s expectations</li>
<li>Ability to generate/modify audiovisual system schematics in AutoCAD</li>
<li>Develop cable run lists, which correlate to the system&rsquo;s schematics in conjunction with the architectural design packages</li>
<li>Meet project, departmental and organizational milestones provided by Project Managers, Vice President of Operations, Executive Vice President of Sales and Chief Technology Officer</li>
<li>Provide supervision, direction, and be held accountable for the technical functionality of integrated audiovisual systems on projects . Collaborate with Control Systems Programmers to develop client&rsquo;s Graphical User Interfaces (GUIs), as well as system functionality</li>
<li>Create, modify, and test audio Digital Signal Processing (DSP)&nbsp; programs (as applicable)</li>
<li>Test remote control system programs at client and USIS facilities (as applicable)</li>
<li>Perform verification of system functionality in Quality Control (QC) Testing prior to systems shipping to client&rsquo;s facilities</li>
<li>Provide technical support to AudioVisual (AV) Installer and Technicians, and Field Engineers installing, troubleshooting, and commissioning audiovisual components and integrated systems</li>
<li>Provide training and mentoring of AudioVisual (AV) Technicians and Installers (as applicable)</li>
<li>Perform &ldquo;White Glove Level&rdquo; Checkout of integrated systems at client&rsquo;s facilities</li>
<li>Conduct or assist Field Engineers with end-user training (as applicable)</li>
<li>When required, travel outside metro NY area for job responsibilities. USIS AudioVisual Systems to pay for transportation, hotel, and per diem costs incurred</li>
</ul>
<p>Must possess a valid driver&rsquo;s license and have the ability to pass drug and background screenings.</p>
<p><strong>Required Skills:</strong></p>
<ul>
<li>Familiarity with multimeters, digital and analog test generators, and other electronic test meters required for &ldquo;White Glove Level&rdquo; Checkouts</li>
<li>Excellent written and verbal communication skills</li>
<li>Detail-oriented and collaborative team player</li>
<li>Ability to follow and enforce process and procedure</li>
<li>Computer proficiency with experience in AutoCAD, Microsoft Office programs, remote control system (Crestron, AMX) and audio digital signal processing (DSP) programs (ClearOne, Biamp, Polycom, etc.)</li>
<li>Experience with configuring and performing diagnostics of videoconferencing codecs (Cisco, Polycom, Vidyo, etc.)</li>
<li>Audiovisual industry certifications required</li>
<li>InfoComm CTS is required, CTS-D is preferred</li>
</ul>
<p>Minimum of at least (1) audio digital signal processing (DSP) certification (ClearOne, Biamp, Polycom, etc.)</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}
