{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h4>{{ message }}</h4>

<address>
    35 Jefferson Ave<br />
    Pearl River, NY 10965<br />
    Corporate Main: 845.358.7755
</address>

<address>
    <strong>USIS IT Support:</strong>   <a href="mailto:callcenter@usis.net">callcenter@usis.net</a><br />
</address>

<h3>UAV Team Members</h3>

<table>
<tbody>
<tr>
<td>Name</td>
<td>Role</td>
<td>Number</td>
<td>Email</td>
</tr>
<tr>
<td>Todd Hutchins</td>
<td>Chief Technology Officer</td>
<td>(860) 463-2237</td>
<td>toddhutchins@usis.net</td>
</tr>
<tr>
<td>Bill Baretz</td>
<td>Executive Vice President</td>
<td>(201) 906-0977</td>
<td>billbaretz@usis.net</td>
</tr>
<tr>
<td>Joseph Legato</td>
<td>Vice President of Operations</td>
<td>(908) 565-2002</td>
<td>josephlegato@usis.net</td>
</tr>
<tr>
<td>Rich Oeters</td>
<td>VP Advanced Technical Services</td>
<td>(845) 263-7033</td>
<td>richardoeters@usis.net</td>
</tr>
<tr>
<td>Anthony Magarelli</td>
<td>Director of Engineering - UAV</td>
<td>(845) 608-1590</td>
<td>anthonymagarelli@usis.net</td>
</tr>
<tr>
<td>David Randolph</td>
<td>Director Integrated Design Services</td>
<td>(845) 536-8282</td>
<td>davidrandolph@usis.net</td>
</tr>
<tr>
<td>Avani Kamdar</td>
<td>Director of AV Architectural Design</td>
<td>(732) 470-4745</td>
<td>avanikamdar@usis.net</td>
</tr>
<tr>
<td>Joseph Claudio</td>
<td>Technical Integration Manager</td>
<td>(845) 499-9208</td>
<td>josephclaudio@usis.net</td>
</tr>
<tr>
<td>Thomas Holstein</td>
<td>WareHouse Manager</td>
<td>(845) 274-7159</td>
<td>thomasholstein@usis.net</td>
</tr>
</tbody>
</table>


{% endblock %}
